/**
  @tag: label
  @component: Label
  size?: --size 28px
*/
.label {
  --height: 28px;
  --height-slider: calc(var(--height) * 0.80);
  --size-emoji: calc(var(--height) / 2);
  --width: calc(var(--height) * 2);
  border-radius: var(--height);
  display: inline-block;
  height: var(--height);
  overflow: hidden;
  position: relative;
  width: var(--width);
  &:hover .button {
    background-color: white;
  }
}

/**
  @tag: input
  @component: Input
*/
.input {
  left: 0;
  opacity: 0;
  position: absolute;

  &:checked + .slider {
    background-color: var(--theme-switch-active);
    transform: translateX(0) scale(1);
    > .button {
      background-color: white;
    }
  }
}


/**
  @tag: div
  @component: Slider
*/
.slider {
  align-items: center;
  background-color: var(--theme-ghost);
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transform: translateX(-33.33%);
  position: absolute;
  transition: all 0.4s;
  width: 150%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

/**
  @tag: span
  @component: Button
*/
.button {
  background-color: var(--theme-switch-skin);
  border-radius: 50%;
  height: var(--height-slider);
  justify-self: center;
  width: var(--height-slider);
}

/**
  @tag: span
  @component: Icon
*/
.emoji {
  font-size: var(--size-emoji);
  opacity: 0.75;
  text-align: center;
  user-select: none;
}
