/**
  @tag: div
  @component: CardBox
  hoverEnabled?: true
*/
.card_box {
  background-color:var(--theme-card-skin);
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
  display: flex;
  flex-direction: column;  
  overflow: hidden;
  transition: transform 300ms, box-shadow 300ms;
  width: 100%;
  -webkit-backface-visibility: hidden;

  &.hoverEnabled:hover {
    box-shadow: 0px 3px 8px 1px rgb(0 0 0 / 10%), 0px 1px 1px 0px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 10%);
    transform: translate3d(0, -2px, 0) scale(1.02);
  }
}

/**
  @tag: img
  @component: Picture
*/
.picture {
  background-color: var(--theme-ghost);
  height: 340px;
  object-fit: cover;
}

/**
  @tag: div
  @component: Footer
*/
.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 16px;
}