@import './themes.module.scss';

/**
  @tag: section
  @component: Layout
  theme: {
    light: theme_light
    dark: theme_dark
  }
*/
.layout {
  background-color: var(--theme-skin);
  color: var(--theme-primary-text);
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/**
  @tag: div
  @component: Header
*/
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 16px 16px 0;
}

/**
  @tag: h1
  @component: Title
*/
.title {
  margin: 0;
}

/**
  @tag: div
  @component: List
*/
.grid {
  display: grid;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  margin: 16px;
}

/**
  @tag: div
  @component: Actions
*/
.action_panel {
  label + label {
    margin-left: 16px;
  }  
}