
.theme-light {
  --theme-card-skin: #fbfbfb;
  --theme-ghost: #cacaca;
  --theme-primary-text: black;
  --theme-secondary-text: #8b8b8b;
  --theme-skin: #fdfdfd;
  --theme-switch-active: #90edff;
  --theme-switch-skin: white;
}

.theme-dark {
  --theme-card-skin: #242424;
  --theme-ghost: #525252;
  --theme-primary-text: white;
  --theme-secondary-text: #939393;
  --theme-skin: #0a0a0a;
  --theme-switch-active: #9899df;
  --theme-switch-skin: #bdbdbd;
}